<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<link href="/map.css" rel="stylesheet">
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<title>{{ title }}</title>
</head>
<body>
<script type="text/javascript">
	$.getJSON("{{ geojson }}")
		.done(function(data) {
			var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});
			var geojson = L.geoJson(data, {
				onEachFeature: function (feature, layer) {
					layer.bindPopup(feature.properties.name);
				}
			});
			var map = L.map('locationmap').fitBounds(geojson.getBounds());
			map.locate();
			map.on('locationfound', function (e) {
				var radius = e.accuracy / 2;
				L.marker(e.latlng).addTo(map).bindPopup('You are here!');
				L.circle(e.latlng, radius).addTo(map);
			});
			layer.addTo(map);
			geojson.addTo(map);
		});
</script>
</body>
</html>
