{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/map.js"></script>
{% endblock %}
{% block body %}
<h2>{{ region.name}}</h2>
<h3>Locations</h3>
<div class="embeddedmap" id="map"></div>
<script>
map("map","locations.geojson","boundaries.geojson");
</script>
<p>See <a href="./map/">full screen map</a>.</p>
	<ul>
		{% for location in region.locations.itervalues() %}
			<li><a href="/location/{{ location.identifier }}">{{ location.name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
