<VirtualHost *:80>
	ServerName cellsites.nz
	DocumentRoot /usr/local/www/cellsites.nz/web/
	AddType application/x-httpd-php .php
	DirectoryIndex index.php
	<Directory "/usr/local/www/cellsites.nz/web/">
		Options FollowSymlinks
		AllowOverride Limit
		Require all granted
		RewriteEngine On
		RewriteBase /
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule . index.php [L,QSA]
	</Directory>
</VirtualHost>

<VirtualHost *:80>
	ServerName www.cellsites.nz
	Redirect permanent / http://cellsites.nz/
</VirtualHost>
