<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<config>
	<propel>
		<database>
			<connections>
				<connection id="cellsitesnz">
					<adapter>mysql</adapter>
					<classname>Propel\Runtime\Connection\ConnectionWrapper</classname>
					<dsn>mysql:host=localhost;dbname=cellsitesnz</dsn>
					<user>cellsitesnz</user>
					<password>password</password>
					<settings>
						<charset>utf8</charset>
						<queries>
							<utf8>SET NAMES utf8 COLLATE utf8_unicode_ci, COLLATION_CONNECTION = utf8_unicode_ci, COLLATION_DATABASE = utf8_unicode_ci, COLLATION_SERVER = utf8_unicode_ci</utf8>
						</queries>
					</settings>
				</connection>
			</connections>
		</database>
		<runtime>
			<defaultConnection>cellsitesnz</defaultConnection>
			<connection>cellsitesnz</connection>
		</runtime>
		<generator>
			<defaultConnection>cellsitesnz</defaultConnection>
			<connection>cellsitesnz</connection>
		</generator>
		<paths>
			<phpDir>./src/</phpDir>
		</paths>
	</propel>
</config>
